* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 70px;
    margin-top: 0px;
}

.left {
    display: inline-block;
    background-color: red;
    width: 50%;
    height: 90vh;
}

.right {
    display: inline-block;
    background-color: green;
    width: 50%;
    height: 90vh;
}

.center {
    background-color: black;
    padding: 34px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    padding: 34px;
    text-align: right;
}

footer {
    margin: 0px;
    height: 50px;
    color: white;
    text-align: center;
}