body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    height: 70px;
}

.left {
    display: inline-block;
    background-color: red;
    width: 50%;
    height: 90vh;
}

.right {
    display: inline-block;
    background-color: green;
    width: 50%;
    height: 90vh;
}

.center {
    background-color: black;
    height: 60px;
}

footer p.center {
    color: white;
    padding: 34px;
    text-align: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    padding: 34px;
    text-align: right;
}